<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Stencil Component Starter</title>
  <script src="/build/forminputbase.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <link rel="icon" type="image/x-icon" href="/assets/icon/favicon.ico">
</head>
<body>
  <div id="app-1">
     <ol> 
       <sample-form-input 
        v-for="item in fields"
        v-bind:field="item"
        v-model="item.value"
        v-bind:key="item.id">
      </sample-form-input> 
     </ol> 
    <div>{{ formValue }}</div>
  </div>

  <script>
  Vue.config.ignoredElements = [
      'form-input-base'
  ]

  Vue.component('sample-form-input', {
      props: ['field', 'value'],
      template: '<form-input-base :theme="field.theme" :mode="field.mode" :label="field.label" :value="value" @valueChange="onValueChange"></form-input-base>',
      methods: {
          onValueChange: function(ev) {
              this.$emit('input', ev.target.value)
          }
      }
  })
  var app7 = new Vue({
      el: '#app-1',
      data: {
          fields: [
              {label: 'Name', type: 'text', controlName: 'name', value: 'Whirlwind', mode: 'web', theme: 'green'},
              {label: 'Street', type: 'text', controlName: 'street', value: '123 Main', mode: 'web', theme: 'green'},
              {label: 'City', type: 'text', controlName: 'city', value: 'Anywhere', mode: 'web', theme: 'red'},
              {label: 'State', type: 'select', controlName: 'state', value: 'CA', mode: 'mobile', theme: 'red'},
              {label: 'Zip', type: 'number', controlName: 'zip', value: '94801', mode: 'mobile'}
          ]
      },
      computed: {
          formValue: function() {
              return this.fields.reduce((accu, f) => {
                  accu[f.label] = f.value
                  return accu
              }, {})
          }
      }
  })
  </script>

  <script>
    if ('serviceWorker' in navigator && location.protocol !== 'file:') {
      // auto-unregister service worker during dev mode
      navigator.serviceWorker.ready.then(registration => {
        registration.unregister().then(() => {
          location.reload(true);
        });
      });
    }
  </script>

</body>
</html>