<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Stencil Component Starter</title>
  <script src="/build/forminputbase.js"></script>
  <script src="https://unpkg.com/vue"></script>
  <link rel="icon" type="image/x-icon" href="/assets/icon/favicon.ico">
</head>
<body>
  <div id="app-1">
     <ol> 
       <sample-form-input 
        v-for="item in fields"
        v-bind:field="item"
        v-model="item.value"
        v-bind:key="item.id">
      </sample-form-input> 
     </ol> 
    <div>{{ formValue }}</div>
  </div>

  <script src="/index.js"></script>

  <script>
    if ('serviceWorker' in navigator && location.protocol !== 'file:') {
      // auto-unregister service worker during dev mode
      navigator.serviceWorker.ready.then(registration => {
        registration.unregister().then(() => {
          location.reload(true);
        });
      });
    }
  </script>

</body>
</html>